@import "mixin";
@import "responsive";
@import "general";

// Variables

// 主题色
@primary-color: #16a958;
@secondary-color: #FA7021;

// 主间距
@margin: 30px;
@padding: 15px;

// 背景
@body-bg: #fff;

// 链接
@link: #333;

// 字体
@font-color: #333;
@font-size: 16px;
@line-height: 1.7;
@font-family: ~"'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif";

// 按钮
@btn-color: #fff;
@btn-fz: 16px;
@btn-bg: #444965;

.wrap {
  padding: 0 4%;
}

nav{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  a{
    display: block;
    float: left;
    width: 25%;
    padding: .8em 0;
    text-align: center;
    color: #eee;
    text-decoration: none;
    &:hover{
      background: lighten(#333, 10%);
    }
  }
}

h3{
  font-size: 24px;
  margin: .6em 0;
}

// m-message

.m-message {
  display: inline-block;

  .layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 100;

    .model-box {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80%;
      max-width: 300px;
      padding: 2em;
      background: #fff;

      h3 {
        font-size: 18px;
        margin-top: 0;
        i.zmdi {
          color: #ccc;
        }
      }

      span.btn {
        float: right;
        margin: 0;
        margin-left: .5em;
      }

      .close-btn {
        display: block;
        position: absolute;
        top: 5%;
        right: 0;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
      }
    }
  }
}
.scale-enter-active, .scale-leave-active {
  transition: .3s;
}
.scale-enter, .scale-leave-to {
  margin-top: -150px;
  opacity: 0;
}